<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="card">
        <div class="card-title text-left pl-2 pt-2 mb-0">
          <h5 class="card-title">Search for Weather v1.0</h5>
        </div>
        <div class="card-body">
          <div class="text-left">
            <label for="exampleInputEmail1">Location</label>
          </div>
          <div class="form-group row">
            <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
              <input
                type="text"
                class="form-control"
                id="location"
                aria-describedby="location"
                [(ngModel)]="location"
              />
            </div>
            <div
              class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 mt-2 mt-sm-2 mt-md-auto mt-lg-auto mt-xl-auto"
            >
              <button class="btn btn-primary" (click)="loadWeather()">
                Search
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div *ngIf="showResult">
        <img src="{{ weatherico }}" class="img-fluid" alt="weatherico" />
        <h5 class="card-title">{{ city }}, {{ country }}</h5>
        <p class="card-text">
          {{ desc }}
        </p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ temp }}&deg;</li>
        </ul>

        <div class="btn-group" role="group">
          <button type="button" class="btn btn-warning" (click)="clearData()">
            Clear
          </button>
          <button
            type="button"
            class="btn btn-info"
            (click)="subscribeToNotification()"
          >
            Subscribe to notification
          </button>
          <button
            class="btn btn-primary"
            type="button"
            (click)="saveWeatherData()"
          >
            Save Data
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
