<nav class="navbar navbar-dark bg-primary mb-5">
  <a class="navbar-brand" href="#">Weather Application</a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card text-center mb-3">
        <div class="card-header text-left">
          <h3>Weather</h3>
        </div>
        <div class="card-body">
          <app-weather></app-weather>
        </div>
        <div class="card-footer text-muted small text-left">
          Allion Technologies
        </div>
      </div>
    </div>
  </div>
</div>
